@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.work:has(a:focus)  {
    outline-style: solid;
    outline-color: white;
}

iframe:focus {
    outline-style: solid;
    outline-color: white;
}


.title {
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
           transition: all 2s;
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(100vh); }
    to   { opacity: 1; transform: translateY(0);     }
}

@-moz-keyframes fadein {
    from { opacity: 0; transform: translateY(100vh); }
    to   { opacity: 1; transform: translateY(0);     }
}

@-webkit-keyframes fadein {
    from { opacity: 0; transform: translateY(100vh); }
    to   { opacity: 1; transform: translateY(0);     }
}

@-ms-keyframes fadein {
    from { opacity: 0; transform: translateY(100vh); }
    to   { opacity: 1; transform: translateY(0);     }
}

@-o-keyframes fadein {
    from { opacity: 0; transform: translateY(100vh); }
    to   { opacity: 1; transform: translateY(0);     }
}


.subtitle {
    -webkit-animation: fadeinsubtitle 2s 4s;
       -moz-animation: fadeinsubtitle 2s 4s;
        -ms-animation: fadeinsubtitle 2s 4s;
         -o-animation: fadeinsubtitle 2s 4s;
            animation: fadeinsubtitle 2s 4s;
    
    opacity: 0;
    animation-fill-mode: forwards;

}
.subtitle.finished {
    opacity: 1;
}

@keyframes fadeinsubtitle {
    from {}
    to   { opacity: 1; }
}

@-moz-keyframes fadeinsubtitle {
    from {}
    to   { opacity: 1; }
}

@-webkit-keyframes fadeinsubtitle {
    from {}
    to   { opacity: 1; }
}

@-ms-keyframes fadeinsubtitle {
    from {}
    to   { opacity: 1; }
}

@-o-keyframes fadeinsubtitle {
    from {}
    to   { opacity: 1; }
}